---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 한글 줄바꿈 깨짐 방지
article, .page__content, .entry-content {
    word-break: keep-all;
    line-break: strict;
}
  
table td, table th {
    word-break: keep-all;
    white-space: normal;
}
  

pre code {
    white-space: pre-wrap;    // 줄바꿈 허용
    word-break: break-word;   // 단어 기준으로 줄바꿈
  }